<div class="modal fade text-dark" id="modalAddword" tabindex="-1" role="dialog" aria-labelledby="modalRegisterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-content">
                <form class="d-flex flex-column" action="/ajout" method="POST">
                    <input name="add_word" type="text" placeholder="word">
                    <textarea name="add_definition"  cols="30" rows="10" placeholder="definition"></textarea>
                    <button class="btn btn-info" type="submit">Add this word</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>