<div class="modal fade text-dark" id="modalEditpost" tabindex="-1" role="dialog" aria-labelledby="modalEditpostTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <%if(locals.mot){%><%=mot.word%><%} %>
            </div>
            <div class="modal-content">
                <form class="d-flex flex-column" action="/edit" method="POST">
                    <textarea name="editpost" cols="30" rows="10" placeholder="definition"></textarea>
                    <button class="btn btn-info" type="submit">Edit this post</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>