<div class="holes-container">
    <div class="holes hole-1">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-2">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-3">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-4">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-5">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-6">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-7">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-8">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-9">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-10">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-11">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-12">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-13">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-14">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-15">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-16">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-17">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-18">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-19">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-20">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>

    <div class="holes hole-21">
        <div class="rings">
            <div class="ring"></div>
            <div class="ring-spacer"></div>
            <div class="ring"></div>
        </div>
    </div>
</div>