<%wword.forEach((mot) => {%>
    <p class="mot">
        <%=mot.word%> :
            <%=mot.definition%>.
    </p>
    <form action="/glossary" method="POST">
    	<button name="deleted" type="submit" value="<%=mot.word%>">Supprimer un mot</button>
    </form>
<%})%>