body {
    margin: 0;
    padding: 0;
    background: lightgoldenrodyellow;
}
header {

}
@font-face {
    font-family: 'PWChalkf';
    src: url('font/PWChalk.ttf');
}
h1 {
    font-family: 'PWChalkf', cursive;
}
p {
    font-family: 'Crafty Girls', cursive;
}
#glossary {
    
    padding-left: 75px;
}
#content {
    min-height: 850px;
}
#end {
    font-family: 'Swanky and Moo Moo';
    font-size: 30px;
}
/* Style couverture */
#hard-cover {

    z-index: -3;
    height: 110%;
    width: 120%;
    position: absolute;
    top: -50px;
    left: -50px;
    /* padding: 50px;
    margin: 50px auto 20px;     */
    border-radius: 20px;
    background-color: burlywood;
    box-shadow: 0px 0px 5px 0px #888;    
}
#inner-hard-cover {

    z-index: -2;
    height: 108%;
    width: 117%;
    position: absolute;
    top: -40px;
    left: -41px;
    /* padding: 50px;
    margin: 50px auto 20px;     */
    border-style: dashed;
    border-color: rgb(175, 134, 81);
    border-radius: 20px;
    background-color: burlywood;
}
/* Style marque-page */
#booklets-container {

    position: absolute;
    z-index: -1;
    top: 30px;
    right: -35px;
}
.booklet {

    /* rotate: 10;kqezkjhzzsrkjhhzerekqzerkjhzerkijkhjzerheoizjehjrooizhehroihzer' */
    padding: 5px 10px 5px 15px;
    /* border-top-left-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 5px 0px #888;    
}
.x1 {
    background-color: lightblue;
}
.x2 {
    background-color: lightcoral;
}
.x3 {
    background-color: lightcyan;
}
.x4 {
    background-color: lightgoldenrodyellow;
}
.x5 {
    background-color: lightpink;
}
/* Style feuille de papier */
.paper {
    
    padding-bottom: 25px;
    padding-top: 53px;
    width: 450px;
    background: rgba(255,255,255);
    box-shadow: 0px 0px 5px 0px #888;

    border-radius: 5px;
}
#texture {
    top: 0px;
    left: 0px;
    position: absolute;    
    content: '';
    height: 100%;
    width: 100%;

    background-image: url(img/texture-paper.jpg);
    background-repeat: repeat;

    opacity: 0.1;
}
.lines2 {
    top: 0px;
    position: absolute;    
    content: '';
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
}
.lines {
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: burlywood;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px #888;
}
.hole-top {
    top: 10%;     
}
.hole-middle {
    top: 50%;
}
.hole-bottom {
    bottom: 10%;
}
.blank_row {
    height: 100px;
}
.mq {
    display:none;
}
.ring {
    position: absolute;
    width: 60px;
    height: 17px;
    left: -31px;
    top: 172px;
    z-index: 3;
}
.ring1 {
    background-color: #7f8c8d;
    background-image: linear-gradient(#7f8c8d, #bdc3c7);
    height: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
.ring2 {
    height: 1px;
}
.ring3 {
    background-color: #7f8c8d;
    background-image: linear-gradient(#7f8c8d, #bdc3c7);
    height: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}