body {
    margin: 0;
    padding: 0;
    background: lightgoldenrodyellow;
}

header {

}

#glossary {
    
    padding-left: 75px;
    padding-bottom: 20px;
}

#content {
    height: 250px;
}



/* Style feuille de papier */
.paper {
    
    padding-top: 53px;
    width: 450px;
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 5px 0px #888;

    border-radius: 5px;
}

#texture {
    top: 0px;
    left: 0px;
    position: absolute;    
    content: '';
    height: 100%;
    width: 100%;

    background-image: url(img/texture-paper.jpg);
    background-repeat: repeat;

    opacity: 0.1;
}

.lines2 {
    top: 0px;
    position: absolute;    
    content: '';
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
}

.lines {
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}

.holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: lightgoldenrodyellow;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px #888;
}

.hole-top {
    top: 10%;     
}

.hole-middle {
    top: 50%;
}

.hole-bottom {
    bottom: 10%;
}

.blank_row {
    height: 100px;
}