<div id="main_container" class="container-fluid d-flex h-100 p-0 flex-column">

    <header class="m-0 text-light">

        <nav class="navbar navbar-expand navbar-dark bg-dark p-0 m-0">

            <div class="d-flex justify-content-end mr-auto">
                Nav Items Here
            </div>



            <a id="navbar-brand" class="navbar-brand" href="/">Template</a>

        </nav>

    </header>