<div id="main_container" class="container-fluid d-flex h-100 p-0 flex-column">

    <header class="sticky-top m-0 text-light">

        <nav class="navbar navbar-expand navbar-dark bg-dark p-0 m-0">

            <div class="d-flex justify-content-end mr-auto">
                <a class="nav-item ml-3" href="#" data-toggle="modal" data-target="#modalConnect">Connect</a>
                <a class="nav-item ml-3" href="#" data-toggle="modal" data-target="#modalRegister">Register</a>
            </div>

            <div class="d-flex justify-content-end mx-auto">
                <a class="nav-item ml-3" href="/glossary/">Glossary</a>
                Welcome
            </div>



            <a id="navbar-brand" class="navbar-brand" href="/">
                <i>Simplon's Hitchiker's guide to Web</i>
            </a>

        </nav>

    </header>

    <%- include('../modals/connect')%>
        <%- include('../modals/register')%>
            <%- include('../modals/addword')%>