<div id="main_container" class="container-fluid d-flex h-100 p-0 flex-column">

    <header class="sticky-top m-0 p-0 text-light">

        <nav class="navbar navbar-expand navbar-dark bg-dark p-0 m-0 justify-content-between">

            <div class="d-flex justify-content-end">
                <a class="nonco nav-item ml-3" href="#" data-toggle="modal" data-target="#modalConnect">Log In <i class="fas fa-sign-in-alt"></i></a>
                <a class="nonco nav-item ml-3" href="#" data-toggle="modal" data-target="#modalRegister">Join <i class="fas fa-id-badge"></i></a>
                <a class="forco nav-item ml-3" href="#" onclick="logout()">Log Out <i class="fas fa-sign-out-alt"></i></a>
            </div>

            <div class="d-flex">
                <a class="nav-item mt-2" href="/glossary/"><h4><i class="fas fa-book-open"></i></h4></a>
            </div>

            <a id="navbar-brand" class="navbar-brand" href="/">
                <i>Simplon's Hitchiker's guide</i>
            </a>

        </nav>

    </header>

    <%- include('../modals/connect')%>
        <%- include('../modals/register')%>
            <%- include('../modals/addword')%>
                    <%- include('../modals/editpost')%>