<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simplon's Hitchiker's guide</title>

    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="frameworks/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="frameworks/jquery-ui.css"> -->

    <link rel="stylesheet" type="text/css" href="css/main.css" media="all">
    <link rel="shortcut icon" type="image/png" href="img/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Swanky+and+Moo+Moo" rel="stylesheet">

     <link rel = "manifest" href = "manifest.json"> <!-- ajout du manisfest.json-->

</head>

<body class="p-0 m-0">